{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block header_title %}Projects list{% endblock %}
{% block header_button -%}
                        <a href="{{ url_for('dashboard.dashboard_appconfig') }}"><button type="button" class="btn btn-sm btn-warning"><i data-feather="settings"></i> App configuration</button></a>
                        <a href="{{ url_for('project.project_new') }}"><button type="button" class="btn btn-sm btn-success"><i data-feather="edit"></i> New project</button></a>
{%- endblock %}
{% block content -%}
                <div class="row pt-2 pb-2">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Project name</th>
                                        <th>Project namespace</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for project in projects -%}
                                    <tr>
                                        <td>{{ project[1] }}</td>
                                        <td>{{ project[0] }}</td>
                                        <td>
                                            <a href="{{ url_for('project.project_detail', project_ns=project[0]) }}"><button type="button" class="btn btn-sm btn-primary"><i data-feather="file-text"></i> Details</button></a>
                                            <a href="{{ url_for('preview.preview_main', project_ns=project[0]) }}" target="_blank"><button type="button" class="btn btn-sm btn-secondary"><i data-feather="map-pin"></i> View map</button></a>
                                        </td>
                                    </tr>
                                {%- endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
{%- endblock %}